<form action="/pizzas/<%=@pizza.id%>" method="post">

  <label for="first-name-update">First Name: </label>
  <input id="first-name-update" type="text" name="first_name" value="<%= @pizza.first_name %>">

  <label for="last-name-update">Last Name: </label>
  <input id="last-name-update" type="text" name="last_name" value="<%= @pizza.last_name %>">

  <label for="topping-update">Topping: </label>
  <select id="topping-update" class="" name="topping">
    <option value="Pepperoni"
    <%= "selected" if @pizza.topping == "Pepperoni" %>>Pepperoni</option>
    <option value="Italian Sausage"
    <%= "selected" if @pizza.topping == "Italian Sausage" %>>Italian Sausage</option>
    <option value="Mushroom"
    <%= "selected" if @pizza.topping == "Mushroom" %>>Mushroom</option>
  </select>


  <label for="quantity-update">Quantity: </label>
  <input id="quantity-update" type="number" name="quantity" value="<%= @pizza.quantity %>">

  <input class="side-button" type="submit" name="" value="Save Changes">

</form>
