<p>First name: <%= @pizza.first_name %></p>
<p>Last name: <%= @pizza.last_name %></p>
<p>Topping: <%= @pizza.topping %></p>
<p>Quantity <%= @pizza.quantity %></p>

<form class="" action="/pizzas/<%= @pizza.id %>/delete" method="post">
  <input type="submit" name="" value="Delete Order">
</form>

<form class="" action="/pizzas/<%= @pizza.id %>/edit" method="get">
  <input type="submit" name="" value="Edit Order">
</form>
